body{
    background-image: url(../img/card.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}
*{
    box-sizing: border-box;

}
.contenaire{
    width: 100%;
    text-align: center;
}
header{
    background-color: #023083;
    width: 100%;
    height: 120px;
    text-align: center;
}
.logo{
    width: 15%;
    margin-top: 5px;
    position: absolute;
    left: 5px;
}
.img{
    width: 35%;
    margin-top: 5px;
}

label{
    font-size: 60px;
   background-color: rgba(9, 68, 219, 0.471);
   color: white;
}
input{
    width: 80%;
    font-size: 50px;
    border-radius: 15px;
}

footer{
    position: fixed;
    bottom: 0;
    background-color:#023083;
    width: 100%;
    height: 80px;
    text-align: center;
}